<footer id="pie-pagina">
  <link href="footer.component.css" rel="stylesheet" />

  <!-- About Section-->
  <section class="page-section bg-dark text-white mb-0" id="about">
    <div class="container">
      <br />
      <br />

      <!-- About Section Heading-->
      <h2 class="page-section-heading text-center text-uppercase text-white">
        About
      </h2>

      <!-- Icon Divider-->
      <div class="divider-custom divider-light">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-line"></div>
      </div>

      <!-- About Section Content-->
      <div class="row">
        <div class="text-center">
          <p class="lead">
            Este es un gimnasio creado por Victor Serrano y Miguel Angel de Haro
          </p>
          <p class="lead">¡Mantente en forma con nosotros!</p>
        </div>
      </div>
    </div>
  </section>
</footer>
