<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="hypertophy.component.css" rel="stylesheet" />
    <title>Hypertophy</title>
  </head>

  <body>

    <br /><br /><br /><br />

    <!-- Contact Section Heading-->
    <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Hypertophy</h2>

    <!-- Icon Divider-->
    <div class="divider-custom">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-line"></div>
      <div class="divider-custom-line"></div>
    </div>

    <br /> <br />


    <div class="container">

      <h1>Muscular Hypertophy</h1>

      <p>The science of muscle growth is called hypertrophy. To build muscle, you must stimulate muscle growth by progressively overloading your muscles with heavier weights. This sends a signal to your body that muscle tissue needs to be built in order to accommodate the new, heavier weights.</p>

      <p>The most effective way to stimulate muscle growth is to perform compound exercises that work multiple muscle groups at the same time. The more muscles you can recruit with an exercise, the more growth hormone and testosterone you'll release, which are crucial for muscle growth.</p>

      <p>Compound exercises that should be a staple in your muscle-building routine include squats, deadlifts, leg presses, chest presses, rows and pull-ups. These exercises should form the foundation of your workout routine, with isolation exercises like bicep curls and tricep extensions used to add detail to your muscles.</p>

      <p>In order to build muscle, you need to eat a diet that is rich in protein and calories. Protein is the building block of muscle tissue, so you need to consume enough of it to see gains. Good sources of protein include lean meats, poultry, fish, eggs and dairy.</p>

      <p>Calories are also important for muscle growth. Without enough calories, your body will not have the energy</p>

    </div>

    <br/><br/><br/>

  </body>

</html>
